
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}


body {
background: white;
font-family: 'Playfair Display', serif;
    text-decoration: none;
}
 #logo{
    
    height:100px;
}

.navbar{
    font-family: 'Playfair Display', serif;
    display:flex;
    justify-content: space-between;
}

.navbar-nav a{
    color:black;
    font-weight:1000;
}
.navbar-toggler .navbar-toggler-icon{
    outline-color: black;
    font-weight:1000;

}

.container{
    display:grid;
}